.cartItem-num {
  border: none;
  width: 50px;
  text-align: center;
}

.cartItem-button {
  border: 1px solid #ccc;
  outline: none;
  width: 30px;
  border-radius: 3px;
}

.error-text {
  font-size: 13;
  font-style: italic;
  color: red;
}

.error-input {
  border-color: red;
}

.error-input::placeholder {
  color: red;
}

.contact-page label {
  display: none;
}

.contact-page .error-message {
  color: red;
  text-align: center;
}

.contact-page .message {
  color: green;
  text-align: center;
}

.green-message {
  color: green;
}

.discount_rate {
  position: absolute;
  right: 0;
  top: 1.25rem;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 13px;
  padding: 0 10px;
  line-height: 22px;
}